.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .back {
        position: absolute;
        left: 5%;
        display: flex;
        align-items: center;
        
        a {
            color: #000;
        }
    }

    .login-block {
        position: absolute;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            margin-top: 3px;
        }

        a {
            margin-top: 10px;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 120px;
        }
    
        label {
            margin-top: 5px;
        }
    }
  }

  @media screen and (max-width: 767px) {
    .header {
        border: none;
        position: fixed;
        z-index: 10;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        font-size: small;

        .back {
            // display: flex;
            // align-items: center;
            
            a {
                color: #000;
            }

            .login-block {
                right: 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
        
                label {
                    margin-top: 3px;
                }
        
                a {
                    margin-top: 10px;
                    text-decoration: underline;
        
                    &:hover {
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 51px;
        }

        .login-block {
            img {
                display: none;
            }
        }
    }

    // .header.hidden {
    //     top: -130%;
    //     transition: all 2s ease 0s;
    // }

    // .header-wrapper {
    //     width: 100vw;
    //     background-color: #FFFFFF;
    //     height: 58px;
    //     z-index: 10;
    // }
    .logo img {
        width: 112px !important;
        height: 38px !important;
    }
    .header-wrapper .header__item:not(:first-child) {
        display: none;
    }
}