.app {
  min-height: 100vh;
  background-color: #fcfbf0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app__content{
    h1 {
      text-align: center;
      font-weight: 100;
      // border-bottom: 1px solid #DCDCDC;
    }
  }
}
